body {
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    /* background: #34495e; */
    font-family: consolas;
}

section {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #3586ff;
    overflow: hidden;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/public/img/wave.png);
    background-size: 1000px 100px;
}
section .docker {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 300px;
    background: url(/public/img/docker-icon.png);
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 990;
    transform: translateX(70%);
    animation: docker-animate 5s ease-in-out infinite;
    /* animation: docker-animate 5s infinite, docker-animate2 10s infinite; */
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 90;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3{
    animation: animate 15s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes docker-animate {
    0% {
        background-position-x: 0;
        background-position-y: 0;
        
    }

    25% {
        /* background-position-y: -10px; */
    }

    50% {
        background-position-x: 0;
        background-position-y: 60px;
    }

    75% {
        /* background-position-y: 50px; */
    }

    100% {
        background-position-x: 0;
        background-position-y: 0;
    }
}



@keyframes docker-animate2 {
      0% {
        background-position-x: 0;
        background-position-y: 0;
        
    }

    25% {
        /* background-position-y: -10px; */
    }

    50% {
        background-position-x: 80%;
        /* background-position-y: 100px; */
    }

    75% {
        /* background-position-y: 50px; */
    }

    100% {
        background-position-x: 0;
        background-position-y: 0;
    }

}

.create {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.create h1, .create h2 {
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.create li {
    color: #fff;
    text-align: left;
}

.create input {
    width: 100%;
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fff;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 16px;
    
}

.create input::placeholder {
    color: #fff;
    text-align: center;
}

.create input:focus {
    border-color: #23ff7f;
}

.detail {
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
}

.detail:hover {
    transform: scale(1.2);
    color: #23ff7f;
}

.button {
    
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    display: flex;
    margin: 20px 0;
    padding: 10px 30px;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    background: #3f51b5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    /* left: 35%; */
    /* left: 50%; */
    left: 38%;
    
    /* transform: translateX(-50%); */
    /* z-index: 1000; */
    /* z-index: 0; */
    /* transform: translateX(-50%); */
}
.button_wrapper {
    text-align:center;
}

.button:hover {
    background: #e91e63;
}

.button::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    transform: scaleX(0);
}
.button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}