<!DOCTYPE html>
<html>

<head>
    <title>TodoApp</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>削除確認</h1>
</body>


</html>

<!-- <!DOCTYPE html>
<html>

<head>
    <title>TodoApp</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>削除確認</h1>
    <p>本当い削除しますか？</p>
    <ul>
        <li>内容: {{.todo.Text}}</li>
        <li>状態: {{.todo.Status}}</li>
         <li>作成時間： {{.todo.CreateAt}}</li> 
</ul>
<form action="/delete/{{.todo.ID}}" method="POST">
        <p><input type="submit" value="削除"></p>
        <p><a href="/">戻る</a></p>
    </form> 
aaaa
</body>

</html> -->