<!DOCTYPE html>
<html>

<head>
    <title>TodoApp</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>

    <section>
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
        <div class="docker"></div>
    </section>

    <div class="create">
        <h1>Detail</h1>
        <form action="/update/{{.todo.ID}}" method="POST">
            <h2>Update</h2>
            <input type="text" name="text" value="{{.todo.Text}}">
            <input type="text" name="status" value="{{.todo.Status}}">
            <!-- <input type="submit" value="Send" class="button"> -->
            <div class="button_wrapper">
                <button type="submit" class="button">Update</button>
            </div>
        </form>
        <hr>
        <form action="/delete/{{.todo.ID}}" method="POST">
            <div class="button_wrapper">
                <button type="submit" class="button">Delete</button>
            </div>
        </form>
        <hr>
        <a href="/" class="detail">Go Back</a>
    </div>
</body>



</html>