<!DOCTYPE html>
<html>

<head>
    <title>TodoApp</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>

    <section>

        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
        <div class="docker"></div>

    </section>

    <div class="create">
        <h1 class="">{{ .message }}</h1>
        <form action="/create" , method="POST">
            <h2>Create</h2>
            <input type="text" name="text" placeholder="todo">
            <input type="text" name="status" placeholder="status">
            <div class="button_wrapper">
                <button type="submit" class="button">Create</button>
            </div>
        </form>


        {{ range .todos }}

        <li>

            <a href="/detail/{{.ID}}" class="detail">todo:{{ .Text }} | status:{{ .Status }}</a>
            <!-- <label for=""><a href="/delete/{{.ID}}">削除</a></label> -->
        </li>

        {{ end }}
    </div>
</body>

</html>